/* ------------------------------
            CSS  RESET
--------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------
            CUSTOME  CODE          
------------------------------------- */
html {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
    width: 100%;
}

/* ---------------Mobile Style---------------- */
h1 {
    font-size: 2.441rem;
    font-weight: 800;
    line-height: 1.5em;
    margin: 0.8em 0;
}

h2 {
    font-size: 1.953rem;
    line-height: 1.5em;
    font-weight: 800;
}

h3 {
    font-size: 1.563rem;
    line-height: 1.5em;
    color: #26a682;
}

p {
    line-height: 2.5rem;
    font-weight: 300;
}

header {
    background-color: #3c3b3a;
}

/* Adjust the size of the logo */
.logo {
    width: 20%;
    margin: 0 auto;
}


/* Style the navigation */
.nav-list li {
    text-align: center;

}

/* style section 1 */
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    text-decoration: none;
    padding: 1em 0;
    color: #f2f2f2;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    font-weight: 800;
}

/* Style section 1 */
.section1 {
    padding: 1em 2em;
}

.contact-image {
    width: 100%;
    padding: 1em 0;
}

/* Style the form */
form {

    background-color: #26a682;
    box-shadow: 10px 10px 7px 0px rgba(20, 64, 51, 0.15);
    border-radius: 25px;
    border: none;

    padding: 1em;

    color: #f2f2f2;
}

form h1 {
    margin: 0.2em 0;
}

.form-label {
    display: block;
    line-height: 2em;
}

.form-control {
    width: 95%;
    border-radius: 72px;
    border: none;
    padding: 0.6em;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1rem;
}

.message {
    font-size: 1rem;
}

.text {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: block;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.5em 0;
}

.submit {
    width: 100%;

    background-color: #3c3b3a;
    box-shadow: 0px 10px 10px 0px rgba(18, 74, 58, 0.5);
    border-radius: 40px;
    border: none;

    font-size: 1.5rem;
    font-weight: 600;
    color: #f2f2f2;
    padding: 0.5em 4em;
    margin: 0.5em 0;
}

/* Style section 2 */
.location {
    padding: 1em 2em;
}

.map {
    height: 300px;
}

/* Style footer */
footer {
    background-color: #3c3b3a;
}

.footer {
    padding: 1.5em 0;
    text-align: center;
    font-size: 1.563rem;
    ;
    color: #f2f2f2;
    position: relative;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6em;
}

.back {
    position: absolute;
    right: 1em;
    bottom: 5em;
    font-size: 0.6rem;
}

.icon-back {
    width: 2em;
    padding: 0 1.5em;
}

.back p {
    line-height: 1em;
}



/* --------------Tablet Style---------------- */
@media screen and (min-width: 768px) {

    /* Resize fonts */
    h1 {
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 1.5em;
        margin: 0.8em 0;
    }

    h2 {
        font-size: 1.953rem;
        line-height: 1.5em;
    }

    h3 {
        font-size: 1.563rem;
        line-height: 1.5em;
        color: #26a682;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
    }


    /* Style the navigation */
    .main-nav {
        margin: 0 2em;
    }

    .nav-list {
        display: flex;
        align-items: center;

    }

    .nav-list li:first-child {
        flex: 3;
    }

    .nav-list li {
        flex: 1;
    }


    /* adjust the margin of section1*/
    .section1 {
        padding: 2em 4em;
    }

    .contact-image {
        width: 90%;
        margin: 2em 0 0.5em;
    }

    /* style the form */
    form {

        padding: 1em 2em;


    }

    .form-label {
        line-height: 3em;
    }

    .text {
        width: 100%;
        margin: 1em 0;
    }

    .submit {
        position: relative;
        left: 15em;

        width: 30%;
        padding: 0.5em 1em;

    }

    /* adjust section 2 */
    .location {
        padding: 2em 4em;
    }

    .location h2 {
        margin: 0 0 2em;
    }

    .map {
        height: 500px;
    }

    /* style footer */
    .footer p,
    .back p {
        font-weight: 300;
        font-size: 1rem;

    }

    .icon-back {
        width: 3em;
        padding: 1em 2.5em;
    }

}

/* --------------Desktop Style---------------- */
@media screen and (min-width: 1200px) {

    /* Style the navigation */
    .main-nav {
		padding: 0;
	}
    .nav-list {
        display: flex;
        align-items: center;

    }

    .nav-list li:first-child {

        flex: 1;
    }

    .nav-list li {
        flex: 1;
    }


    /* realign section 1 */
    .section1 {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.5em;

        justify-items: center;
        margin: 0 8em;
    }

    .content {
        padding: 0 5em 0 0;

    }

    form {
        margin: 6em 0;
        width: 80%;
    }

    .form-label {
        font-size: 1.5rem;
    }

    .form-control {
        font-size: 1.5rem;
    }

    .message {
        font-size: 1.5rem;
    }

    .text {
        margin: 0.3em 0 0.5em;
        font-size: 1.5rem;
    }

    /* realign section2 */
    .section2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        margin: 2em 8em;
    }

    .location h1 {
        margin: 0;
    }

    .location h2 {
        margin: 1em 0;
    }

    .map {
        height: 500px;
    }

     /* resize back to top button */

     .back {
        top: 3em;
    }
     .icon-back {
        padding: 0 3em;
        width: 5em;
    }

    /* style footer */
    footer {
        padding: 0;
    }

    .footer p,
    .back p {
        font-weight: 300;
        font-size: 1rem;

    }

}